* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-color: #333;
}

controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2em;
}

controller {
    display: grid;
    /* Create a grid of 3x3 */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    /* width: 300px;
    height: 300px; */
}
btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15vh;
    height: 15vh;
    background: #eee;
    border: 1px solid #111;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1.5vh;
    transition: background 0.3s;
}
btn:hover, btn.active {
    background: #ccc;
}

sliders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
    margin: 2em;
}
sliders > span, sliders > label {
    text-align: center;
    font-size: 1.5vh;
}

video {
    display: none;
}